@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .circle-background-hover {
    @apply
      isolate
      before:absolute
      before:h-full
      before:w-full
      before:bg-gray-200
      before:top-0
      before:left-0
      before:rounded-full
      before:-z-10
      before:scale-75
      before:opacity-0
      before:transition
      active:before:bg-gray-300
      hover:before:scale-150
      hover:before:opacity-100;
  }

  .shadow-thick {
    box-shadow: 0 0 0 1px hsla(216,calc(var(--saturation-factor, 1)*7.2%),13.5%,.6),0 2px 10px 0 hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.2);
  }

  [x-cloak] {
    display: none !important;
  }
}
